doctype html
html
  head
    title API-POS
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
    block links
    
  body
    nav.navbar
      a(href="/") POS
      ul.menu
        li.menu-item About
        li.menu-item: a(href="/login") Sing In

    block content
