extends layout

block links
    link(rel='stylesheet', href='/stylesheets/login.css')

block content
    h1 API-POS
    form.form(method="post")
        input(type="text" name="email" placeholder="Email")
        input(type="password" name="password" id="password" placeholder="Contraseña")
        br
        button Sing In

    script(type='text/javascript').
        const formLogin = document.querySelector(".form")
        const formData = new FormData(formLogin)

        formLogin.addEventListener('submit', e => {
            e.preventDefault()
            fetch('/api/users/signin', {
                method: 'POST',
                body: formData
            })
            .then(res => res.json())
            .then(data => 
                localStorage.setItem('token', data.token)
            ) 
        })