body{
    display: grid;
    background-color: #eee;
}
h1 {
    text-align: center;
    margin: 20px;
}
.form{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.form label {
    font-size: 1.2em;
    margin: 10px;
}
.form input {
    border: none;
    font-size: 1.1em;
    padding: 10px;
    box-shadow: 0 2px #ccc;
    margin: 10px auto;
    width: 60%;
    border-radius: 5px;
}
.form input:focus {
    outline:0;
}
.form button {
    background: #8e44ad;
    color: #eee;
    border: none;
    box-shadow: 0 2px #ccc;
    width: 100px;
    padding: 9px 18px;
    margin: 0 auto;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}